/*whole page*/
    #content {
        max-width: 1600px; 
        width: 100%; /* Ensures it can shrink if needed */
        margin: 0 auto; /* Centers the element */
    }

/*head*/

/*body*/
    body {
        background-color: #d4f5f5;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 22px;
        margin: 0;
        padding: 0;
    }

/*header*/
    #hero-msg h1, #hero-msg h4 {
        text-align: center;
    }

    header {
        background-color: #00728f;
    }
/*header {
    font-size: 1.5em;
    color: white;
    margin: 40px;
  }*/
    .logo {
        width: 80px;
    }

    #logo_link {
        padding-top: 5px;
    }

    .button-box {
        text-align: center;
    }

    .book {
        background-color: white;
        color: #001529;
        text-decoration: none;
        padding: 15px 30px;
        margin-top: 50px;
        border-radius: 5px;
    }
    .book:hover {
        background-color: #fefd8e;
        color: #001529;
    }

/*nav*/
    nav a {
        text-align: center;
        color:white;
        text-decoration: none;
        padding: 15px 30px;
    }

    nav a:hover {
        background-color: #003262;
        color: white;
    }

/*inbetween header and images or main*/
    .home-title {
        color: #001529;
        font-family: papyrus;
        font-size: 2em;
        margin-top: 10px;
    }
    h4 {
        color: #001529;
    }

    #hero-img {
        width: 100%;
    }

/*images*/

/*main*/
    main section {
        text-align: center;
    }
    main section img {
        box-sizing: border-box;
    }

    h2 {
        margin: 0;
    }

    #background {
        height: 725px;
    }

    .card-img {
        border: 10px solid #001529;
    }

    .rivers-card {
        margin: 200px 0;
    }
    .camping-card {
        margin: 200px 0;
    }
    .rapids-card {
        margin: 200px 0;
    }

    .icon {
        width: 80px;
        padding-top: 10px;
    }

    .join {
        background-color: #d4f5f5;
        color: #001529;
        text-decoration: none;
        padding: 15px 30px;
        margin-top: 50px;
        border-radius: 5px;
    }

    .join:hover {
        background-color: #fefd8e;
        color: #001529;
    }
    .msg {
        background-color: #00b9e8;
        color: #001529;
        line-height: 1.5em;
        padding: 35px;
    }
    .msg h2 {
        color: #001529;
    }
    .msg p {
        color: #001529;
        padding-bottom: 15px;
    }

    #background {
        background-color: #00b9e8;
    }

/*footer*/
    footer {
        background-color: #00728f;
        color: whitesmoke;
        font-size: 1.2em;
        padding: 25px 50px;
        margin-top: 200px;
        
    }
    footer p a {
        color: whitesmoke;
        text-decoration: none;
    }
    footer a:hover {
        background-color: #fefd8e;
        color: #001529;
        text-decoration: underline;
    }
    footer .social img {
        padding-top: 15px;
    }