/*Body*/
body {
  margin: 0;
    /*text-align: center;*/
  }
  /** {
    border: 2px solid blue;
  }*/

  /*Nav*/
  nav {
    background-color: steelblue;
    color: white;
    padding: 25px;
    text-align: center;
  }

  a {
    font-size: 1.5em;
    color: white;
    margin: 40px;
    padding: 25px;
  }
  a:hover {
    background-color: white;
    color: steelblue;
}

  #active {
    background-color: white;
    color: steelblue;
  }

  /*Main*/
  /*adjustments for h1*/
  h1 {
    color: steelblue;
    text-align: center;
    margin: 50px 0;
  }

  

  /*main picture for site*/
  img {
    width: 80%;
    display: block;
    margin: 0% auto;
    border: 4px solid steelblue;
  }

  /*Paragraphs*/
  
  p {
    padding: 10px;
    width: 80%;
    margin: 50px auto;
    text-align: center;
  }
  .main-para {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  /*Footer*/
  footer {
    background-color: steelblue;
    color: white;
    padding: 25px;
    text-align: center;
  }
  footer p {
    font-size: 20px;
    margin: 20px auto;
}
